
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        h1
        {
            color:blueviolet;
            text-align:center;
        }
    </style>
</head>
<body>
    <h1>Today's Date: @DateTime.Now</h1>
</body>
</html>
